body {
  font-family: Arial, sans-serif;
}
/* .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
  } */
/* input[type='text'] {
    width: calc(100% - 80px);
    padding: 10px;
    font-size: 16px;
  }
  input[type='submit'] {
    width: 80px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  } */
.forecast {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
}
.day {
  flex: 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
  border-color: transparent;
}
.day:hover {
  background-color: #ff6b09;
}
.weather-info {
  margin-top: 20px;
}
.hide {
  display: none;
}

/* Image Styles */

.currentforecast img {
  width: 100px;
  height: 100px;
}

.currentforecast p {
  margin: 5px 0;
}

/*********************************************** additional */

html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

*,
:after,
:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.wBtn {
  padding: 5px 38px;
  border-radius: 15px;
  border: 2px solid #fff;
  background-color: #fff;
  opacity: 0.54;
  color: #000;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

body {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.65) 0,
    rgba(0, 0, 0, 0.05)
  );
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0, rgba(0, 0, 0, 0.05));
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 30px 0 65px; */
}

@media (min-width: 768px) {
  body {
    padding: 67px 0 74px;
  }
}

@media screen and (min-width: 1158px) {
  body {
    padding-bottom: 0;
  }
}

.container {
  margin: 0 auto;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1200px;
  }
}
/* .searchForm {
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
} */
.currentforecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 300px;
  font-family: Lato, sans-serif;
  color: #fff;
  box-shadow: 0 8px 43px rgba(16, 33, 54, 0.8);
  border-radius: 34px;
  background-color: rgba(16, 33, 54, 0.933333);
  padding: 38px 60px 40px;
  margin-left: auto;
  margin-right: auto;

  
  /* position: relative;
    margin-bottom: 32px; */
}
.sunrise-icon {
 position: relative;
 margin-top: 500px;


}
@media screen and (min-width: 768px) {
  .currentforecast {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1158px) {
  .current-forecast {
    width: 500px;
    margin-left: auto;
    /* margin-right: auto; */
  }
}

.weather-info {
  /* display: flex; */
  width: 280px;
  height: 340px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  font-family: Lato, sans-serif;
  color: #fff;
  box-shadow: 0 8px 43px rgba(16, 33, 54, 0.8);
  border-radius: 34px;
  background-color: rgba(16, 33, 54, 0.933333);
  padding: 30px 20px 50px 20px;

  /* position: relative; */
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  
}

@media screen and (min-width: 768px) {
  .weather-info {
    width: 620px;
  }
}

@media screen and (min-width: 1158px) {
  .weather-info {
    width: 1060px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1200px;
  }
}

.forecast {
  /* display: flex; */
  width: 280px;
  height: 308px;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  font-family: Lato, sans-serif;
  color: #fff;
  box-shadow: 0 8px 43px rgba(16, 33, 54, 0.8);
  border-radius: 34px;
  background-color: rgba(16, 33, 54, 0.933333);
  padding: 38px 60px 40px;
  /* position: relative; */
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .forecast {
    width: 620px;
  }
}

@media screen and (min-width: 1158px) {
  .forecast {
    width: 1060px;
  }
}

/* .container.forecast {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
  } */

.form-input {
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: center;

}

@media screen and (min-width: 768px) {
  .form-input {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1158px) {
  .form-input {
    margin-top: 0;
  }
}



.form-input-text {
  width: 280px;
  height: 48px;
  border-radius: 30px;
  background: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
  padding-left: 50px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
 
}

.icon-location {
  position: absolute;
  padding: auto;
  margin-left: -600px;
  margin-top: 13px;
}

@media screen and (min-width: 768px) {
  .form-input-text {
    font-size: 18px;
  }

   
}

@media screen and (min-width: 1158px) {
  .form-input-text {
    width: 520px;
    font-size: 18px;
  }

    
}

.form-submit {
  text-align: center;
}

/* Today Styles */

.current-weather-group {
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .current-weather-group {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
  }
}

@media screen and (min-width: 1158px) {
  .current-weather-group {
    text-align: right;
    justify-content: right;
    margin-top: 50px;
  }
}

.current-city {
  margin-right: 20px;
  margin-bottom: 12px;
}

.city-name {
  margin-bottom: 12px;
  font-size: 16px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .city-name {
    font-size: 32px;
  }
}

@media screen and (min-width: 1158px) {
  .city-name {
    font-size: 32px;
  }
}

.celcius,
.fahrenheit {
  color: #fff;
}

/* Today Styles End*/

/* Current Date and Quote Styles */

.current-date-group {
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .current-date-group {
    display: flex;
  }
}

@media screen and (min-width: 1158px) {
  .current-date-group {
    display: flex;
  }
}

.currentdate {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 3.6px;
  width: 280px;
  height: 200px;
  border-radius: 34px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 100px;
  background: rgba(16, 33, 54, 0.6);
}

@media screen and (min-width: 768px) {
  .currentdate {
    width: 500px;
    height: 278px;
    font-size: 30px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1158px) {
  .currentdate {
    width: 630px;
    height: 278px;
    font-size: 40px;
    margin: 0;
  }
}

/* .quote { */
  /* display: flex; */
  /* color: #fff;
  justify-content: right;
  text-align: right;
  font-family: Lato;
  width: 280px;
  height: 132px;
  margin: 60px auto 0 auto;
}

@media screen and (min-width: 768px) {
  .quote {
    width: 479px;
    margin: 60px auto 0 auto;
  }
}

@media screen and (min-width: 1158px) {
  .quote {
    width: 340px;
    margin-right: 100px;
    margin-left: 0;
    margin-top: 0;
  }
}

.quote-text {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.88px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .quote-text {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1158px) {
  .quote-text {
    font-size: 22px;
    margin-bottom: 30px;
  }
}

.quote-author {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
} */

 /* .current-date-group {
  position: relative;
  margin: 20px 0;
  
  
}   */

/* Styling for the quote container */
.quote-container {
  position: absolute;
  margin-right: 200px;
  bottom: -60px;
  right: 20px;
  max-width: 450px;
  padding: 15px;
  color: white;
  flex-shrink: 0;
}

/* Styling for the quote text */
.quote {
  justify-content: right;
    text-align: right;
    font-family: Lato;
    width: 350px;
    height: 132px;
    margin: 60px auto 0 auto;
}

@media screen and (min-width: 768px) {
  .quote-text {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1158px) {
  .quote-text {
    font-size: 22px;
    margin-bottom: 30px;
  }
}

/* Text styling for quote text */
.quote-text {
  font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.88px;
    margin-bottom: 15px;
}

/* Styling for the quote author */
.quote-author {
    color: #FFF;
    text-align: right;
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
  }

@media screen and (min-width: 768px) {
  .quote {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1158px) {
  .quote {
    font-size: 22px;
    margin-bottom: -30px;
  }
}
/* Current Date and Quote Styles End*/

/* Button Styles */

.button {
  border-color: transparent;
  letter-spacing: 0.03em;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.button.submit-button {
  width: 126px;
  height: 28px;
  color: #000;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.submit-button:hover,
.button.submit-button:focus {
  background: #fff;
}

.button.favorite-button {
  width: 126px;
  height: 28px;
  color: #000;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.favorite-button:hover,
.button.favorite-button:focus {
  background: #fff;
}

/* Button Styles End*/

.showgraph-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    
}

.showgraph-button {

  height: 18px;
  border-color: transparent;
  background-color: transparent;
  color: #ff6b09;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-bottom: 12px;
  margin-left: 530px;
  
}
.showgraph-button:hover {
  color: #ccc;
  cursor: pointer;
}


.chartstyle {
  /* display: flex; */ /* This line is commented out to avoid redundancy */
  width: 280px;
  height: 308px;
  flex-direction: row;
  display: flex; /* This line is kept here */
  justify-content: space-between;
  /* align-items: center; */
  font-family: Lato, sans-serif;
  color: #fff;
  box-shadow: 0 8px 43px rgba(16, 33, 54, 0.8);
  border-radius: 34px;
  background-color: rgba(16, 33, 54, 0.933333);
  padding: 38px 60px 40px;
  /* position: relative; */
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .chartstyle {
    width: 620px;
  }
 
}

@media screen and (min-width: 1158px) {
  .chartstyle {
    width: 1060px;
  }
}


.weather-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.weather-time,
.weather-temp,
.weather-desc,
.weather-clouds,
.weather-wind,
.weather-visibility {
  margin: 0 10px;
}

.weather-icon {
  width: 50px;
  height: 50px;
}

.icon {
  width: 20px;
  height: 20px;
}